parameters:
    level: 10
    checkUninitializedProperties: true
    paths:
        - src
        - tests
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
    ignoreErrors:
        - identifier: missingType.checkedException
          paths:
            - tests
        - identifier: missingType.iterableValue
          paths:
            - tests/*.php
