parameters:
    level: 10
    checkUninitializedProperties: true
    paths:
        - src
        - tests/Util
        - tests/worker.php
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
    ignoreErrors:
        - identifier: missingType.checkedException
          paths:
            - tests/Util
