COMPOSE_PROJECT_NAME=brick-lock

PHP_VERSION=8.4

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password

MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_USER=user
MARIADB_PASSWORD=password

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
